{% extends 'base.html' %}
{% load static %}
{% block content %}
    
    <main id="main">

        <!-- ======= Frequently Asked Questions Section ======= -->
        <section id="faq" class="faq">
            <div class="container" data-aos="fade-up">

                <div class="row gy-4">

                    <div class="col-lg-4">
                        <div class="content px-xl-5">
                            <h3>Frequently Asked <strong>Questions</strong></h3>
                            <p>
                                Get answers to your frequently asked questions about us
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-8">

                        <div class="accordion accordion-flush" id="faqlist" data-aos="fade-up" data-aos-delay="100">

                            {% for faq in faqs %}
                                <div class="accordion-item">
                                    <h3 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse"
                                                data-bs-target="#faq-content-{{ faq.id }}">
                                            <span class="num">{{ forloop.counter }}.</span>
                                            {{ faq.question }}
                                        </button>
                                    </h3>
                                    <div id="faq-content-{{ faq.id }}" class="accordion-collapse collapse"
                                         data-bs-parent="#faqlist">
                                        <div class="accordion-body">
                                            {{ faq.answer }}
                                        </div>
                                    </div>
                                </div><!-- # Faq item -->
                            {% endfor %}


                        </div>

                    </div>
                </div>

            </div>
        </section><!-- End Frequently Asked Questions Section -->
    
    </main>

{% endblock %}